<!DOCTYPE html>
<html>
<head>
    <title>다운로드</title>
</head>

<style>
    body {
        margin: 20px;
    }
    h1 {
        margin-bottom: 20px;
    }
    table {
        width: 40%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
</style>



<body>
    <h1>다운로드 페이지</h1>
    <table>
        <tr>
            <th>파일</th>
            <th>다운로드</th>
        </tr>



        <tr>
            <td>오피스 영문 언어팩</td>
            <td>
                <a href="/download_files/Office_English_Language_Pack.exe" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>

        <tr>
            <td>PDF 뷰어 : AdobeReaderDC</td>
            <td>
                <a href="/download_files/AdobeReaderDC.exe" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>

        <tr>
            <td>PDF 병합/추출 : PDF SAM BASIC</td>
            <td>
                <a href="/download_files/PDFsamBasic7Installer.exe" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>


        <tr>
            <td>압축 프로그램 : 반디집</td>
            <td>
                <a href="/download_files/BANDIZIP.EXE" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>

        <tr>
            <td>캡처 프로그램 : 그린샷</td>
            <td>
                <a href="/download_files/Greenshot.exe" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>

        <tr>
            <td>Microsoft Edge Enterprise x64</td>
            <td>
                <a href="/download_files/MicrosoftEdgeEnterpriseX64.msi" download>
                    <button>다운로드</button>
                </a>
            </td>
        </tr>



        <!-- Add more rows for additional downloads -->
    </table>
</body>
</html>
